<hibernate-configuration>
    <session-factory>
        <!-- database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./data/contactmgr</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!--Create database schema on start up -->
        <property name="hbm2ddl.auto">create</property>

        <!--this is going to annotate the entity classes-->
        <mapping-class class="com.teamtreehouse.ctcmgr.model.Contact"/>
    </session-factory>
</hibernate-configuration>